footer {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.footer-inner img{
  padding: 5px;
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto
}

.game-control {
  padding-bottom: 20px;
}

.score-border {
  display: inline-block; 
  width: 49%;
}

#app {
  text-align: center;
}

#logSession {
  max-height: 40%;
  overflow: auto;
}